<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/thirdpart/bootstrap-4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/thirdpart/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/thirdpart/alertify/css/alertify.css}">
    <link rel="stylesheet" th:href="@{/thirdpart/alertify/css/themes/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/loader.css}">
</head>
<body>
<div class="container-fluid" module-name="index">
</div>
<script th:src="@{/thirdpart/jquery-3.3.1.min.js}"></script>
<script th:src="@{/thirdpart/popper.min.js}"></script>
<script th:src="@{/thirdpart/alertify/alertify.js}"></script>
<script th:src="@{/thirdpart/bootstrap-4.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common/util.js}"></script>
</body>
</html>