<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/thirdpart/bootstrap-4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/thirdpart/font-awesome-4.7.0/css/font-awesome.min.css}">
    <script th:src="@{/thirdpart/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/thirdpart/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/thirdpart/popper.min.js}"></script>
    <script th:src="@{/thirdpart/bootstrap-4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/thirdpart/require.js}"></script>
</head>
<body>

</body>
</html>